khanya/gcloud-test/collyers-435813-9ddeafda4244.json
khanya/juyniper notbooks/logs/fit/model1/train/events.out.tfevents.1728555746.DESKTOP-UOH5EMA.18172.4.v2
khanya/juyniper notbooks/logs/fit/model1/validation/events.out.tfevents.1728555750.DESKTOP-UOH5EMA.18172.5.v2
